body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color:#f4f4f4;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header{
	background:#35424a;
	border-bottom: #809fff 6px solid;
	color:#ffffff;
	padding-top:30px;
	min-height:70px
}

header a{
	color: #ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
}

ul{
	margin:0;
	padding:0;
}

.button_1 {
	height:38px;
	background:#809fff;
	border:0;
	padding: 0px 20px;
	color:#ffffff
}

header li{
	float:left;
	display:inline;
	padding: 0px 20px;
}

header #branding {
	float:left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight{
	color: #809fff;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

#pocetna {
	min-height:400px;
	background:url('../img/showcase.jpg') no-repeat;
	text-align:center;
	color:#ffffff;
	background-size:100%
}

#pocetna h1{
	margin-tio:100px;
	font-size:55px;
	margin-bottom:10px;
}

#pocetna p{
	font-size:20px;
}

#posta{
	padding:15px;
	color:#ffffff;
	background:#35424a;
	border-top:#809fff 6px solid;
}

#posta h1{
	float:left;
}

#posta form {
	float:right;
	margin-top: 15px;
}

#posta input[type="email"]{
	padding: 4px;
	height:25px;
	width:250px;
}

#kutije{
	margin-top:20px;
}

#kutije .kutija{
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
}

#kutije .kutija img{
	width:90px;
}

aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}

article#glavna-kol{
	float:left;
	width:65%;
}

.crno{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}

ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1 px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color:#809fff;
	text-align: center;
}

@media(max-width: 768px){
	header #branding, header nav, header nav li, #posta h1, #posta form, #boxes .box, article#glavna-kol, aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}
	header {
		padding-bottom:20px;
	}
	#pocetna h1{
		margin-top: 40px;
	}
	#posta button{
		display:block;
		width:100%;
	}
	
	#posta form input[type="email"]{
		width: 100%;
		margin-bottom:5px;
	}
}